<%= form_with(model: message, id:'msg-form', class:"msger-inputarea") do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :room_id, value: room.id %>

  <div class="w-100 d-flex">
    <%= form.text_field :content, placeholder:'Enter your message...', class:"msger-input", id:"message-input", required: true %>
    <%= form.submit 'Send', class:"msger-send-btn" %>
  </div>
<% end %>
